{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <noscript><link rel="stylesheet" href="{{ asset('build/external/styles/noscript.css') }}" /></noscript>
    <noscript><link rel="stylesheet" href="{{ asset('build/external/styles/fontawesome-all.min.css') }}" /></noscript>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/external/scripts/jquery.min.js') }}"></script>
    <script src="{{ asset('build/external/scripts/jquery.scrollex.min.js') }}"></script>
    <script src="{{ asset('build/external/scripts/jquery.scrolly.min.js') }}"></script>
    <script src="{{ asset('build/external/scripts/browser.min.js') }}"></script>
    <script src="{{ asset('build/external/scripts/breakpoints.min.js') }}"></script>
    <script src="{{ asset('build/external/scripts/util.js') }}"></script>
    <script src="{{ asset('build/scripts/main.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <header id="header">
            <a class="logo">MayUtangBa.Me?</a>
        </header>
        <nav id="nav">
            <ul class="links">
                <li><a href="#PakiConnectSaSignUpForm">Signup</a></li>
                <li class="active"><a href="#">Login</a></li>
            </ul>
        </nav>
        <div id="main">
            <section class="post">
                <!-- Form -->
                <h2>Log into your account</h2>
               <form action="{{ path('app_login') }}" method="post" id="signin">
                    <div class="row gtr-uniform">
                        <div class="col-6 col-12-xsmall">
                            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Username or email" required/>
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="password" id="password" name="_password" placeholder="Password"  required/>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Log In" class="primary" /></li>
                                <li><input type="button" onclick="location.href='{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}';" class="google" value="Continue with Google" /></li>
                            </ul>
                            <p><a href="#">Forgot password?</a></p>
                        </div>
                    </div>
                </form>
                <hr />
            </section>
        </div>

        <!-- Copyright -->
        <div id="copyright">
            <ul><li>&copy; MayUtangBa.Me?</li></ul>
        </div>

    </div>
{% endblock %}

{#
{% block modal %}
<div class="modal fade" id="signup-modal" tabindex="-1" aria-labelledby="signup-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signup-modal-label">Sign Up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            {{ include('security/_form-signup.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
#}

{% block onloadedscripts %}
    <script src="{{ asset('build/scripts/security-login.js') }}"></script>
    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_key }}"></script>
    <script>
        const siteKey = "{{ recaptcha_key }}";

        //either on page load
        grecaptcha.ready(function() {
            grecaptcha.execute(siteKey, {
                action: 'app_user_new'
            }).then(function(token) {
                //the token will be sent on form submit
                $('[name="captcha"]').val(token);
                //keep in mind that token expires in 120 seconds so it's better to add setTimeout.
            });
        });
    </script>
{% endblock %}