{% extends 'base.html.twig' %}

{% block title %}Signup // MayUtangBa.Me?{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <noscript><link rel="stylesheet" href="{{ asset('build/external/css/noscript.css') }}" /></noscript>
    <noscript><link rel="stylesheet" href="{{ asset('build/external/css/fontawesome-all.min.csss') }}" /></noscript>
    <noscript><link rel="stylesheet" href="{{ asset('build/external/css/main.css') }}" /></noscript>
{% endblock %}

{% block body %}
    <nav id="nav">
        <ul class="links">
            <li class="active"><a href="#">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>

    <div id="main">
        <section class="post">
            <h2>Create your account</h2>
            {{ include('security/_form-signup.html.twig') }}
            <hr />
        </section>
    </div>
{% endblock %}

{% block onloadedscripts %}
    <script src="{{ asset('build/external/js/jquery.min.js') }}"></script>
    <script src="{{ asset('build/external/js/jquery.scrollex.min.js') }}"></script>
    <script src="{{ asset('build/external/js/jquery.scrolly.min.js') }}"></script>
    <script src="{{ asset('build/external/js/browser.min.js') }}"></script>
    <script src="{{ asset('build/external/js/breakpoints.min.js') }}"></script>
    <script src="{{ asset('build/external/js/util.js') }}"></script>
    <script src="{{ asset('build/external/js/main.js') }}"></script>
    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_key }}"></script>
    <script>
        const siteKey = "{{ recaptcha_key }}";

        //either on page load
        grecaptcha.ready(function() {
            grecaptcha.execute(siteKey, {
                action: 'app_user_new'
            }).then(function(token) {
                //the token will be sent on form submit
                $('[name="user_signup"]').val(token);
                //keep in mind that token expires in 120 seconds so it's better to add setTimeout.
            });
        });

        $('#signup-modal-body').on('submit', e => {
            Object.values($('#signup-modal-body').find('input[type="text"], input[type="password"], input[type="email"]'))
            .forEach(elem => {
                $(elem).addClass('submitted');
            });

            if($('#user_signup_password1').val() !== $('#user_signup_password2').val()) {
                e.preventDefault();
                e.stopPropagation();
                $('#user_signup_password1')[0].setCustomValidity("Invalid field.");
                $('#user_signup_password2')[0].setCustomValidity("Invalid field.");
                $('#form-help').text('Passwords did not match.');
            } else {
                $('#user_signup_password1')[0].setCustomValidity();
                $('#user_signup_password2')[0].setCustomValidity();
                $('#form-help').text('');
            }
        });

        $('#terms-and-conditions').on('click', () => {
            $('#submit-signup').attr('disabled', !$('#submit-signup').attr('disabled'));
        });
    </script>
{% endblock %}