{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('build/styles/security-verify.css') }}" rel="stylesheet"/>
{% endblock %}

{% extends 'base.html.twig' %}

{% block body %}
{% include "header.html.twig" %}
<div class="d-flex justify-content-center p-2">
    <div class="jumbotron verify-email-container">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">You are only a few steps away from fully utizing <strong>May Utang Ba Me?</strong>.</p>
        <hr class="my-4">
        <p>
            {% if verification_status == 'VERIFICATION_EMAIL_NOT_YET_SENT' %}
                We'll be sending out a verification email to your provided address. Be sure to check your spam folder if the email is not found.
            {% elseif verification_status == 'VERIFICATION_EMAIL_SENT' %}
                The email validation has been sent. Check your email to verify your account.
            {% elseif verification_status == 'VERIFICATION_EMAIL_VALIDATED' %}
                Your account has been successfully verified!
            {% elseif verification_status == 'VERIFICATION_EMAIL_FAILED' %}
                Verification failed due to the following issue: {{ error }}
            {% endif %}
        </p>
        <p class="lead">
            <a href="{{ (proceed_location == '/#') ? 'javascript:void(0)' : proceed_location }}" class="btn btn-dark btn-lg {{ (proceed_location == '/#') ? 'disabled' : '' }}">Proceed</a>
        </p>
    </div>
</div>
{% endblock %}