{% extends 'test.base.html.twig' %}

{% block title %}Login // MayUtangBa.Me?{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <noscript><link rel="stylesheet" href="{{ asset('build/styles/noscript.css') }}" /></noscript>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/scripts/jquery.min.js') }}"></script>
    <script src="{{ asset('build/scripts/jquery.scrollex.min.js') }}"></script>
    <script src="{{ asset('build/scripts/jquery.scrolly.min.js') }}"></script>
    <script src="{{ asset('build/scripts/browser.min.js') }}"></script>
    <script src="{{ asset('build/scripts/breakpoints.min.js') }}"></script>
    <script src="{{ asset('build/scripts/util.js') }}"></script>
    <script src="{{ asset('build/scripts/main.js') }}"></script>
{% endblock %}

{% block body %}

            <div id="wrapper">
                    <header id="header">
                        <a class="logo">MayUtangBa.Me?</a>
                    </header>
                    <nav id="nav">
                        <ul class="links">
                            <li><a href="#PakiConnectSaSignUpForm">Signup</a></li>
                            <li class="active"><a href="#">Login</a></li>
                        </ul>
                    </nav>
                    <div id="main">
                        <section class="post">
                            <h2>Log into your account</h2>
                            <form method="post" action="#">
                                <div class="row gtr-uniform">
                                    <div class="col-6 col-12-xsmall">
                                        <input type="text" name="email-username" id="demo-name" value="" placeholder="Email or username" />
                                    </div>
                                    <div class="col-6 col-12-xsmall">
                                        <input type="password" name="demo-pw" id="demo-email" value="" placeholder="Password" />
                                    </div>
                                    
                                    <div class="col-12">
                                        <ul class="actions">
                                            <li><input type="submit" value="Log In" class="primary" /></li>
                                            <li><input type="button" href="/connect/google" name="google-signin" class="google" value="Continue with Google" /></li>
                                        </ul>
                                        <p><a href="#">Forgot password?</a></p>
                                    </div>
                                </div>
                            </form>
                            <hr />
                        </section>
                    </div>

                    <div id="copyright">
                        <ul><li>&copy; MayUtangBa.Me?</li></ul>
                    </div>

            </div>

{% endblock %}
