{% extends 'base.html.twig' %}

{% block title %}Expenses // MayUtangBa.Me?{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <noscript><link rel="stylesheet" href="{{ asset('build/external/css/noscript.css') }}" /></noscript>
    <noscript><link rel="stylesheet" href="{{ asset('build/external/css/fontawesome-all.min.csss') }}" /></noscript>
    <noscript><link rel="stylesheet" href="{{ asset('build/external/css/main.css') }}" /></noscript>
{% endblock %}

{% block body %}
    {% include "user-nav.html.twig" %}
    <div id="main">
        <section class="post">
            <h1>[{{ peer.nickname }}]</h1>
            <h2>{% if connection.userDebt > 0 %}
                    {{ connection.user.id == app.user.id? 'You owe ': 'You are owed '}} {{ connection.userDebt }}
                {% elseif connection.peerDebt > 0 %}
                    {{ connection.peer.id == app.user.id? 'You owe ': 'You are owed '}} {{ connection.peerDebt }}
                {% else %}
                    All settled.
                {% endif %}</h2>
            {% if connection.userDebt > 0 or connection.peerDebt > 0%}
                <ul class="action">
                    <input type="button" value="Settle" class="primary btn-small" data-toggle="modal" data-target="#settle-modal"/>
                </ul>
            {% endif %}
            <h3>Add Expense</h3>
            {{ include('expense/_form-add-expense.html.twig') }}
            <hr />
            
            <h2>Expenses</h2>
            <div class="table-wrapper">
                <table class="alt">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Item name</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for loan in loans %}
                            <tr>
                                <td>{{ loan.expense.dateDisplay }}</td>
                                <td>{{ loan.expense.name }}</td>
                                <td>{{ loan.expense.totalAmount }}
                                    [{% if loan.lender.id == app.user.id %}
                                        {{ loan.category.name == 'Settlement'? 'You have paid': 'You are owed' }}
                                    {% else %}
                                        {{ loan.category.name == 'Settlement'? peer.nickname ~ ' have paid you': 'You owe' }}
                                    {% endif %}&nbsp;{{ loan.amount }}]
                                </td>
                                <td>
                                    <select onchange="if(this.value !== '#') location = this.value; else showModal({{ loan.expense.id }});">
                                        <option value="">- Action -</option>
                                        <option value="/expense/{{ loan.expense.id }}/edit">Update Expense</option>
                                        <option value="#" data-toggle="modal" data-target="#delete-modal">Delete Expense</option>
                                    </select>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">no records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr />

        </section>
    </div>
{% endblock %}

{% block modal %}
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Delete Expense</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body col-12">
                Are you sure you want to delete this expense?
            </div>
            <div class="modal-footer">
                <ul class="actions">
                    <li><form style="margin: 0px;" method="post" id="delete-form"><input type="submit" class="primary" value="Delete" /></form></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="settle-modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Settle Up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{ include('expense/_form-settle-expense.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}

{% block onloadedscripts %}
    <script src="{{ asset('build/external/js/jquery.min.js') }}"></script>
    <script src="{{ asset('build/external/js/jquery.scrollex.min.js') }}"></script>
    <script src="{{ asset('build/external/js/jquery.scrolly.min.js') }}"></script>
    <script src="{{ asset('build/external/js/browser.min.js') }}"></script>
    <script src="{{ asset('build/external/js/breakpoints.min.js') }}"></script>
    <script src="{{ asset('build/external/js/util.js') }}"></script>
    <script src="{{ asset('build/external/js/main.js') }}"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript">
        function showModal(categoryId) {
            $('#delete-form').attr('action', '/expense/' + categoryId + '/delete');
        }
    </script>
{% endblock %}