{% extends 'base.html.twig' %}

{% block title %}{{ app.user.nickname }} | Expense Category {% endblock %}

{% block body %}
{% include "header.html.twig" %}
    <h1>Expense Categories</h1>

    <table class="table table-striped">
        <thead>

            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Icon</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td class="alert alert-primary">
                    <button type="button" class="btn btn-outline-primary">
                        <span class="bi {{ category.icon}}"></span>
                    </button>
                </td>
                <td>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_category_new') }}">Create new</a>
{% endblock %}
