{% extends 'base.html.twig' %}

{% block title %}UserGroup index{% endblock %}

{% block body %}
    <h1>UserGroup index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_group in user_groups %}
            <tr>
                <td>{{ user_group.id }}</td>
                <td>{{ user_group.amount }}</td>
                <td>
                    <a href="{{ path('app_user_group_show', {'id': user_group.id}) }}">show</a>
                    <a href="{{ path('app_user_group_edit', {'id': user_group.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_group_new') }}">Create new</a>
{% endblock %}
