{% extends 'base.html.twig' %}

{% block title %}Settlement index{% endblock %}

{% block body %}
    <h1>Settlement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for settlement in settlements %}
            <tr>
                <td>{{ settlement.id }}</td>
                <td>{{ settlement.amount }}</td>
                <td>{{ settlement.date ? settlement.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_settlement_show', {'id': settlement.id}) }}">show</a>
                    <a href="{{ path('app_settlement_edit', {'id': settlement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_settlement_new') }}">Create new</a>
{% endblock %}
