{{ form_start(userPasswordForm, {'attr': { 'id': 'password-change-form' }}) }}
    <p class="card-text">
        <div class="form-group">
            {{ form_widget(userPasswordForm.password1, { 'attr': { 'class': 'form-control', 'placeholder': 'New Password' }}) }}
        </div>
        <div class="form-group">
            {{ form_widget(userPasswordForm.password2, { 'attr': { 'class': 'form-control', 'placeholder': 'Re-enter Password' }}) }}
            <small id="change-password-help" class="form-text text-danger">{{ form_errors(userPasswordForm) }}</small>
        </div>
    </p>
    <button type="submit" class="btn float-end btn-dark btn-lg">{{ button_label|default('Change Password') }}</button>
{{ form_end(userPasswordForm) }}