{{ form_start(userPasswordForm, {'attr': { 'id': 'password-change-form' }}) }}
    <div class="row gtr-uniform">
        <div class="col-12 col-12-xsmall">
            {{ form_widget(userPasswordForm.username, { 'attr': { 'class': 'form-control', 'placeholder': 'Username' }}) }}
        </div>
        <div class="col-6 col-12-xsmall">
            {{ form_widget(userPasswordForm.password1, { 'attr': { 'class': 'form-control', 'placeholder': 'New Password' }}) }}
        </div>
        <div class="col-6 col-12-xsmall">
            {{ form_widget(userPasswordForm.password2, { 'attr': { 'class': 'form-control', 'placeholder': 'Re-enter Password' }}) }}
        </div>
        <div class="col-12">
            <ul class="actions">
                <li>
                    <input type="submit" class="primary" value="{{ button_label|default('Change Password') }}" />
                </li>
            </ul>
        </div>
    </div>
{{ form_end(userPasswordForm) }}