{% extends 'base.html.twig' %}

{% block title %}{{ app.user.nickname }} | Edit Profile{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('build/styles/user-edit.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
{% include "header.html.twig" %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Update Profile</h4>
                    {{ include('user/_form-update-profile.html.twig') }}
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Change Password</h4>
                    {{ include('user/_form-change-password.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block modal %}
<div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
    <div class="toast align-items-center bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                {{ toast }}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
{% endblock %}

{% block onloadedscripts %}
<script>
    let toastMessage = '{{ toast }}';
    $(document).ready(function() {
        if(toastMessage) {
            $(".toast").toast('show');
        }
    });

    $('#password-change-form').on('submit', e => {
        Object.values($('#password-change-form').find('input[type="password"]'))
            .forEach(elem => {
                $(elem).addClass('submitted');
            });

        if($('#user_password_password1').val() !== $('#user_password_password2').val()) {
            e.preventDefault();
            e.stopPropagation();
            $('#user_password_password1')[0].setCustomValidity("Invalid field.");
            $('#user_password_password2')[0].setCustomValidity("Invalid field.");
            $('#change-password-help').text('Passwords did not match.');
        } else {
            $('#user_password_password1')[0].setCustomValidity();
            $('#user_password_password2')[0].setCustomValidity();
            $('#change-password-help').text('');
        }
    });
</script>
{% endblock %}